<!doctype html>
 <html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta name="description" content="">
   <meta name="author" content="">

   <title>User Reports DB</title>

   <!-- Bootstrap core CSS -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

 </head>

 <body>

 <div class="container">

   <!-- Static navbar -->
   <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/main">UPENN Lost and Found</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li><a href="/main">Home</a></li>
           <li><a href="/showUsersDB">List of Users</a></li>
           <li><a href="/showItemsDB">Registered Items</a></li>
           <li class="active"><a href="#">User Reports</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="/">Logout</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div><!--/.container-fluid -->
   </nav>

   <!-- Main component for a primary marketing message or call to action -->
   <div class="jumbotron">
     <h3>Here are all the user reports:</h3>
        <table class="table table-striped">
          <thead class="alert alert-info">
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Contact Info.</th>
              <th scope="col">Item Name</th>
              <th scope="col">Item Description</th>
              <th scope="col">Extra Message</th>
              <th scope="col">Location</th>
              <th scope="col">Status</th>
            </tr>
          </thead>

          <tbody>
            <% reports.forEach( (report) => { %>
              <tr>
                <td><%= report.userID || 'N/A' %></td>
                <td><%= report.contactInfo || 'N/A' %></td>
                <td><%= report.name || 'N/A' %></td>
                <td><%= report.description || 'N/A' %></td>
                <td><%= report.extraMsg || 'N/A' %></td>
                <td><%= report.location || 'N/A' %></td>
                <td><%= report.status || 'N/A' %></td>
              </tr>
             <% }); %>
          </tbody>

        </table>

      <h3>Type in name of item/ email of user you want to remove:</h3>

      <p>

        <form action="/delete" method="get">

          <input class="editbox" name="title" placeholder="Name of item to delete">

      <p>

        <input class="button" type="submit" value="Delete item!">
        </form>

     <p>

         <form action="/removeUser" method="get">

             <input class="editbox" name="email" placeholder="Email of user to remove">

     <p>

         <input class="button" type="submit" value="Remove user!">
         </form>


   </div>

 </div> <!-- /container -->

 </body>
 </html>
